  h1 {
  text-align: center;
  font-size: 5rem;
}

html{
  height:100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  font-size: 2rem;
}

body{
  background-color:rgb(169, 170, 255);
}

.homeCenter{
  text-align: center;
}

.jumbotron{
  opacity: .7;
}

.btn, .btn-secondary{
  opacity: .7;
}

a{
  color: rgb(35, 35, 255);
}