  h1 {
  text-align: center;
  font-size: 5rem;
}

html{
  height:100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  font-size: 2rem;
}

body{
  background-image: url("../assets/images/Program/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  height:100%;
}

.homeCenter{
  text-align: center;
}

a{
  color: rgb(35, 35, 255);
}