@{
  Layout = "_Layout";
}

<h1 class="jumbotron">
  Dr. Sneuss' Factory
  <hr />
  <p class="homeCenter">@Html.ActionLink("Engineer List", "Index", "Engineers") || @Html.ActionLink("Machine List", "Index", "Machines")</p>
</h1>
<p class="homeCenter">Welcome to Dr. Sneuss' Factory! We specialize in all sorts of whimsical machines and gadgets, dutifully maintained by our team of licensed engineers. As a Factory Manager (congratulations on the new position, by the way) you are able to navigate to the Engineer or Machine views from the links above. From there you are able to add, edit, view, or delete records from the system. You can also assign machines to engineers with the proper licenses, as well as assign engineers to machine records if that suits you. If you have any questions or concerns, well... we don't have a support staff yet so you're on your own. Paychecks are sent out weekly if you have not setup direct deposit. Good Luck!</p>